<div style="margin-bottom: 30px">
    <h3>Bar Chart</h3>
    <div id="chart_div1" ></div>
</div>
<div style="margin-bottom: 30px">
    <h3>Column Chart / isStacked: false</h3>
    <div id="chart_div2" ></div>
</div>
<div style="margin-bottom: 30px">
    <h3>Column Chart / isStacked: true</h3>
    <div id="chart_div3" ></div>
</div>
<div style="margin-bottom: 30px">
    <h3>Pie Chart</h3>
    <div id="chart_div4" ></div>
</div>

