<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Eaten Year 2019</th>
                    <th>Eaten Year 2010</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Cheese</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Chocolate</td>
                    <td>20</td>
                    <td>21</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Fruit tart</td>
                    <td>30</td>
                    <td>31</td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>