<div style="margin-bottom: 30px">
    <h3>Bar Chart</h3>
    <div id="chart_div1" ></div>
</div>
<div style="margin-bottom: 30px">
    <h3>Column Chart / isStacked: false</h3>
    <div id="chart_div2" ></div>
</div>
<div style="margin-bottom: 30px">
    <h3>Column Chart / isStacked: true</h3>
    <div id="chart_div3" ></div>
</div>
@* <div style="margin-bottom: 30px">
    <h3>Pie Chart</h3>
    <table>
        <tr>
            <td><div id="chart_div4" ><h4>2010</h4></div></td>
            <td><div id="chart_div5" ><h4>2000</h4></div></td>
        </tr>
    </table>
</div> *@

<div style="margin-bottom: 30px">
    <h3>Pie Chart</h3>
    <table>
        <tr>
            <td>                
                <div id="chart_div4" ></div>
            </td>
            <td>                
                <div id="chart_div5" ></div>
            </td>
        </tr>
    </table>
</div>