@{
    ViewData["Title"] = "Cake Chart";
}

<title>@ViewData["Title"]</title> 
<div class="text-center">
    <h1 class="display-4">We will show you cake charts here!</h1>
    <p>Coming soon...</p>    
</div>
@Html.Partial("_ViewCakeChartPartial")
@Html.Partial("_ViewCakeInputPartial")
@Html.Partial("_ViewCakeListPartial")
