@{
    ViewData["Title"] = "Chart3";
}

<title>@ViewData["Title"] - DemoGoogleChart</title> 
<div id="chart_div" style="width: 500px; height: 900px; margin:auto;"></div> 
@* @Html.Partial("_ViewChartPartial") *@